.nav {
  width: 100vw;
  position: fixed;
  background-color: #fff;
  height: 10rem;
  line-height: 10rem;
  z-index: 100;
  box-shadow: 0 5px 10px 0px #c7bebe;
}
.nav_logo {
  width: calc(100% / 6);
  height: 10rem;
}
.nav_list {
  display: flex;
  justify-content: space-between;
}
.nav_name {
  font-family: "Fredoka One", cursive;
  font-size: 5rem;
  color: #e47277;
}
.nav_bakery {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 5rem;
}
.nav_menu {
  font-weight: 450;
  width: calc(100% / 2);
  cursor: pointer;
}
.nav_menu-list {
  display: flex;
  justify-content: space-between;
}
.nav_menu-link {
  color: #201f1f;
}
.nav_menu-link:hover {
  cursor: pointer;
  color: #e47277;
}
.nav_menu-item {
  font-size: 2rem;
  position: relative;
}
.nav_menu-item:hover {
  color: #e47277;
}
.nav_menu-item:hover .nav_menu-item-category {
  position: absolute;
  display: block;
}
.nav_menu-item-category {
  display: none;
  width: 30rem;
  padding: 0 2rem;
  background-color: #F4F6FA;
  border: 1px solid #c7bebe;
  -webkit-animation: up 0.3s linear;
          animation: up 0.3s linear;
}
.nav_menu-item-category_product {
  line-height: 4rem;
}
.nav_menu-item-category_product-link {
  color: #201f1f;
  font-weight: 450;
  cursor: pointer;
}
.nav_menu-item-category_product-link:hover {
  color: #e47277;
}
.nav_right {
  width: calc(100% / 6);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: all 0.2s linear;
}
.nav_right-icon {
  font-size: 2rem;
}
.nav_right-icon:not(:last-child) {
  margin-right: 2.5rem;
}
.nav_right-icon:hover {
  color: #e47277;
}

.banner {
  width: 100vw;
  height: calc(100% - 10rem);
  overflow: hidden;
  position: absolute;
  top: 10rem;
  background-color: #FFF5F2;
}
.banner_list {
  width: 100%;
  height: 100%;
}
.banner_list-item {
  transition: all 1.3s linear;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner_list-item-text {
  position: absolute;
  -webkit-animation: scaleText 2s linear;
          animation: scaleText 2s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  top: 14rem;
  color: #e47277;
  opacity: 0.2;
  font-family: "Sonsie One", cursive;
  font-size: 11rem;
}
.banner_list-item-h2 {
  font-size: 10rem;
  font-family: "Fredoka One", cursive;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 4rem;
}
.banner_list-item-p {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 5rem;
}
.banner_list-item-btn {
  width: 30rem;
  height: 8rem;
  border-radius: 50px;
  border-color: #da3f06;
  line-height: 8rem;
  color: #fff;
  background-color: #da3f06;
  font-size: 2.5rem;
  box-shadow: 0 10px 2px -6px black;
  transition: 0.1s linear;
  cursor: pointer;
}
.banner_list-item-btn:active {
  box-shadow: none;
}
.banner_list-item-title {
  position: absolute;
  top: 18rem;
  width: 70rem;
}
.banner_list-item-img {
  position: absolute;
  right: -10%;
  top: -12rem;
}
.banner_list-item-img-link {
  width: 110rem;
  height: 110rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner_button {
  position: absolute;
  transform: translateX(45vw);
  bottom: 2rem;
}
.banner_button-list {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}
.banner_button-list-item {
  list-style: none;
  width: 3rem;
  height: 3rem;
  border-radius: 25px;
  background-color: #c7bebe;
  cursor: pointer;
  transition: all 0.2s linear;
}
.banner_button-list-item:hover {
  background-color: #201f1f;
}

.Exclusive {
  position: absolute;
  top: 100vh;
  width: 100vw;
  padding-top: 12rem;
}
.Exclusive_text {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.Exclusive_title {
  font-size: 5rem;
  font-family: "Fredoka One", cursive;
  margin-bottom: 9rem;
}
.Exclusive_slides {
  position: relative;
}
.Exclusive_slides-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -7rem;
  font-size: 3rem;
  display: flex;
  color: #da3f06;
  justify-content: space-between;
  width: 110%;
}
.Exclusive_slides-arrow-icon {
  width: 5rem;
  height: 5rem;
  background-color: red;
}
.Exclusive_slides-arrow-icon-left, .Exclusive_slides-arrow-icon-right {
  cursor: pointer;
}
.Exclusive_slides-list {
  display: flex;
  margin: 0px auto;
  width: 144rem;
  overflow-x: hidden;
  justify-content: left;
  background-color: #fff;
}
.Exclusive_slides-list-item {
  position: relative;
  min-width: calc(100% / 3 - 2rem);
  left: 0.5rem;
  margin-right: 2rem;
  height: 58rem;
  background-color: #FFF5F2;
  border-bottom-right-radius: 7rem;
  transition: all 0.25s linear;
}
.Exclusive_slides-list-item-image {
  position: absolute;
  width: 100%;
  height: 33rem;
  z-index: 10;
  margin: 0px auto;
  background-color: transparent;
  border: 2.5rem solid #FFF5F2;
  border-bottom-right-radius: 8rem;
}
.Exclusive_slides-list-item-link {
  position: absolute;
  height: 32rem;
  z-index: 1;
  border-bottom-right-radius: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s linear;
}
.Exclusive_slides-list-item:hover .Exclusive_slides-list-item-link {
  transform: scale(0.9);
}
.Exclusive_slides-list-item:hover .Exclusive_slides-list-item-order {
  transform: translateY(-1rem);
}
.Exclusive_slides-list-item:hover .Exclusive_slides-list-item-see {
  opacity: 1;
  transform: translateY(5rem);
}
.Exclusive_slides-list-item-describe {
  position: absolute;
  width: 100%;
  top: 33rem;
  margin: 0px auto;
}
.Exclusive_slides-list-item-name {
  font-size: 3rem;
  font-family: "Fredoka One", cursive;
  line-height: 2;
}
.Exclusive_slides-list-item-introduce {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 3.5rem;
}
.Exclusive_slides-list-item-order {
  width: 60%;
  height: 6rem;
  background-color: #da3f06;
  color: #fff;
  border-radius: 3rem;
  border-color: #da3f06;
  font-size: 2.2rem;
  cursor: pointer;
  box-shadow: 0 10px 2px -6px #634344;
  transition: all 0.5s linear;
}
.Exclusive_slides-list-item-order:active {
  box-shadow: none;
}
.Exclusive_slides-list-item-see {
  opacity: 0;
  position: absolute;
  z-index: 21;
  top: 15%;
  left: 30%;
  width: 40%;
  height: 5rem;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s linear;
}
.Exclusive_slides-list-item-see:hover .Exclusive_slides-list-item-see-text {
  transform: translateY(-2rem);
  opacity: 0;
}
.Exclusive_slides-list-item-see:hover .Exclusive_slides-list-item-see-icon {
  opacity: 1;
  visibility: visible;
  height: 5rem;
  color: #fff;
  line-height: 5rem;
  background-color: #da3f06;
  transform: translateY(-5rem);
}
.Exclusive_slides-list-item-see-text {
  font-size: 2.2rem;
  line-height: 5rem;
  opacity: 1;
  transition: all 0.25s linear;
}
.Exclusive_slides-list-item-see-icon {
  width: 100%;
  height: 0;
  font-size: 2.2rem;
  border-radius: 25px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.freshdelicious {
  position: absolute;
  top: 185rem;
  width: 100%;
  padding: 15rem;
}
.freshdelicious_item {
  display: flex;
  justify-content: space-between;
}
.freshdelicious_item:first-child {
  margin-bottom: 15rem;
}
.freshdelicious_left {
  width: 48%;
}
.freshdelicious_left-image-link {
  margin: 0px auto;
  width: 80%;
  border-radius: 50%;
}
.freshdelicious_right {
  width: 48%;
}
.freshdelicious_right-list {
  padding: 4rem 2rem;
  text-align: left;
}
.freshdelicious_right-Advantages {
  font-size: 2.5rem;
  padding-bottom: 5rem;
  color: #da3f06;
}
.freshdelicious_right-title {
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
  line-height: 1.3;
  padding-bottom: 5rem;
}
.freshdelicious_right-text {
  font-size: 2.5rem;
  line-height: 1.7;
  padding-bottom: 5rem;
}
.freshdelicious_right-story {
  width: 30%;
  height: 6rem;
  border-radius: 3rem;
  background-color: #da3f06;
  font-size: 2rem;
  border-color: #da3f06;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 5px 10px 2px #e47277;
}

.features {
  position: absolute;
  top: 335rem;
  width: 100%;
  padding: 10rem 0;
  background-color: #FFF5F2;
}
.features_list {
  display: flex;
  justify-content: space-between;
}
.features_list-item {
  width: calc(100%/3 - 4rem);
  height: auto;
  padding: 6rem;
  background-color: #FFF5F2;
  transition: all 0.5s linear;
  border-radius: 1rem;
}
.features_list-item:hover {
  background-color: #fff;
  box-shadow: 0 5px 20px 0px #c7bebe;
}
.features_list-item:hover .features_list-item-title {
  color: #da3f06;
}
.features_list-item:hover .features_list-item-icon {
  box-shadow: 0 5px 15px 0px #e47277;
}
.features_list-item-icon {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  line-height: 15rem;
  font-size: 5rem;
  color: #da3f06;
  background-color: #fff;
  transition: all 0.5s linear;
  margin-bottom: 5rem;
}
.features_list-item-title {
  font-size: 2.2rem;
  color: #201f1f;
  font-weight: 450;
  line-height: 1.4;
  transition: all 0.5s linear;
  margin-bottom: 2rem;
}
.features_list-item-text {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 300;
}

.video {
  position: absolute;
  top: 400rem;
  width: 100vw;
  height: 50rem;
}
.video:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 50rem;
  background-color: #201f1f;
  opacity: 0.5;
  z-index: 10;
}
.video_image {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video_image-text {
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 30%;
  color: #fff;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 9rem;
  z-index: 20;
}
.video_image-btn {
  position: absolute;
  top: 55%;
  text-align: center;
  left: 45vw;
  width: 20rem;
  height: 6rem;
  color: #fff;
  z-index: 20;
  background-color: #da3f06;
  border-color: #da3f06;
  border-radius: 3rem;
  font-size: 2.2rem;
  transition: 0.5s linear;
}
.video_image-btn:hover {
  background-color: #c7bebe;
  border-color: #c7bebe;
  color: #201f1f;
}

.product {
  position: absolute;
  top: 450rem;
  width: 100%;
  padding: 10rem 0;
}
.product_list {
  display: flex;
  justify-content: space-between;
}
.product_list-item {
  position: relative;
  overflow: hidden;
  width: calc(100%/3 - 3rem);
  height: 50rem;
  background-color: red;
}
.product_list-item:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #e47277;
  opacity: 0.4;
  transition: all 0.5s linear;
}
.product_list-item:hover .product_list-item-image {
  transform: scale(1.05);
}
.product_list-item:hover .product_list-item-more {
  transform: translateY(4rem);
  opacity: 1;
}
.product_list-item-image {
  position: absolute;
  width: 100%;
  height: 85%;
  transition: all linear 0.4s;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_list-item-text {
  height: 15%;
  width: 100%;
  text-align: left;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 20;
}
.product_list-item-name {
  font-size: 2.2rem;
  padding-top: 2rem;
  cursor: pointer;
  transition: all 0.25s linear;
}
.product_list-item-name:hover {
  color: #da3f06;
}
.product_list-item-price {
  font-size: 2rem;
  color: #da3f06;
  line-height: 1.5;
}
.product_list-item-more {
  opacity: 0;
  width: 40%;
  position: absolute;
  top: 25%;
  left: 30%;
  z-index: 21;
  transition: all 0.3s linear;
}
.product_list-item-more-see, .product_list-item-more-cart {
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #201f1f;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
}
.product_list-item-more-see-text, .product_list-item-more-cart-text {
  font-size: 2.2rem;
  transition: all 0.25s linear;
}
.product_list-item-more-see-icon, .product_list-item-more-cart-icon {
  font-size: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  line-height: 5rem;
  height: 0;
  background-color: #da3f06;
  width: 100%;
}
.product_list-item-more-see:hover .product_list-item-more-see-text, .product_list-item-more-see:hover .product_list-item-more-cart-text, .product_list-item-more-cart:hover .product_list-item-more-see-text, .product_list-item-more-cart:hover .product_list-item-more-cart-text {
  transform: translateY(-2rem);
  opacity: 0;
}
.product_list-item-more-see:hover .product_list-item-more-see-icon, .product_list-item-more-see:hover .product_list-item-more-cart-icon, .product_list-item-more-cart:hover .product_list-item-more-see-icon, .product_list-item-more-cart:hover .product_list-item-more-cart-icon {
  opacity: 1;
  visibility: visible;
  transform: translateY(-5rem);
  height: 5rem;
  color: #fff;
}

.footer {
  position: absolute;
  padding: 10rem 0;
  top: 520rem;
  width: 100%;
  background-color: #201f1f;
}
.footer_list {
  display: flex;
  justify-content: space-between;
}
.footer_list-item {
  color: #fff;
  text-align: left;
  width: calc(100% / 3 - 1rem);
  padding: 0 1rem 0 0;
  position: relative;
}
.footer_list-item:not(:last-child) {
  border-right: 1px solid #c7bebe;
}
.footer_list-item:last-child {
  padding: 0 6rem;
}
.footer_list-item-introduce {
  display: flex;
  margin-top: 2rem;
  height: 8rem;
  align-items: center;
  cursor: pointer;
  transition: 0.25s linear;
}
.footer_list-item-introduce:hover {
  color: #da3f06;
}
.footer_list-item-introduce-icon {
  font-size: 3rem;
  margin-right: 2rem;
}
.footer_list-item-introduce-info {
  font-size: 1.8rem;
  line-height: 1.3;
}
.footer_list-item-name {
  font-size: 3rem;
  font-family: "Fredoka One", cursive;
  color: #e47277;
}
.footer_list-item-bakery {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 3rem;
}
.footer_list-item-facebook {
  width: 100%;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}
.footer_list-item-facebook-personal {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer_list-item-facebook-top {
  position: absolute;
  z-index: 22;
  top: 12%;
  left: 5%;
  display: flex;
}
.footer_list-item-facebook-top-link {
  margin-right: 1rem;
  font-size: 8rem;
  color: #0E8CF1;
  background-color: #fff;
}
.footer_list-item-facebook-text {
  font-size: 2.2rem;
  cursor: pointer;
}
.footer_list-item-facebook-text i {
  color: #0E8CF1;
  background-color: #fff;
}
.footer_list-item-facebook-text-link {
  text-decoration: none;
  color: #fff;
}
.footer_list-item-category {
  font-size: 2.2rem;
  height: 7rem;
  transition: 0.4s linear;
}
.footer_list-item-category a {
  line-height: 7rem;
  color: #fff;
  transition: 0.25s linear;
}
.footer_list-item-category a:hover {
  color: #da3f06;
}
.footer_list-item-category:hover {
  padding-left: 4rem;
}

.banner_list .active .container .banner_list-item-title {
  -webkit-animation: textright 2s cubic-bezier(0.47, 1.95, 0.86, 0.23);
          animation: textright 2s cubic-bezier(0.47, 1.95, 0.86, 0.23);
}

.section {
  position: absolute;
  top: 100vh;
  height: 100rem;
  background-color: red;
}

.running {
  background-color: #201f1f;
}

.active {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes up {
  from {
    transform: translateY(25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes scaleText {
  0% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.98);
  }
}
@-webkit-keyframes textright {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */